# -------------------------------------------------------------------------------------------------
# Base
# -------------------------------------------------------------------------------------------------
psycopg2                == 2.8.5    # Python-PostgreSQL Database Adapter

# -------------------------------------------------------------------------------------------------
# Django
# -------------------------------------------------------------------------------------------------
Django                  == 2.2      #
djangorestframework==3.11.0

