
/* Left sidebar */
.main__left_placeholder {
    pointer-events  : none;
    min-width       : 248px;
    transition      : min-width 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.main__left-sidebar {
    z-index         : 1;
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 248px;
    height          : 100vh;
    background      : #F7F7FC;
    border-right    : 1px solid #E1E2E5;
    transition      : width 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.main.left-is-closed .main__left_placeholder {
    min-width   : 54px;
    transition  : min-width 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.main.left-is-closed .main__left-sidebar{
    width       : 54px;
    transition  : width 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.main__left-sidebar-header {
    width: 100%;
    height: 54px;
    background-color: #E1E2E5;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: 900;
}
.main__left-sidebar > a:last-of-type {
  margin-top: auto;
}